@inherits BottomNavigationLogic

<div class="footer">
    <RadzenStack Orientation="Orientation.Horizontal" AlignItems="AlignItems.Center" JustifyContent="JustifyContent.Center" Gap="50px">
        <RadzenLink Path="calender">
            <RadzenButton Icon="event"></RadzenButton>
        </RadzenLink>
        
        <RadzenLink Path="user">
            <RadzenButton Icon="accessibility"></RadzenButton>
        </RadzenLink>
    </RadzenStack>
</div>
