@using Utensils_Client.Views
@inherits LayoutComponentBase

<RadzenLayout>
    <RadzenHeader >
        <TopBar></TopBar>
    </RadzenHeader>
    <RadzenBody Style="margin-bottom: 35px;">
        <div class="rz-p-4">
            @Body
        </div>
    </RadzenBody>
    <RadzenFooter>
        <BottomNavigation></BottomNavigation>
    </RadzenFooter>
</RadzenLayout>
<RadzenDialog></RadzenDialog>
<RadzenNotification></RadzenNotification>
