@inherits LayoutComponentBase

<div class="page">
    <main>
        <RadzenColumn>
            <RadzenRow>
                <article class="content px-4">
                    @Body
                </article>
            </RadzenRow>
            <RadzenRow>
                <BottomNavigation></BottomNavigation>
            </RadzenRow>
        </RadzenColumn>

        <RadzenDialog />
        <RadzenNotification />
    </main>
</div>
